
@page "/pStockMovement"

@using HQQLibrary.Manager
@using HQQLibrary.Model
@using HQQLibrary.Model.Models.MaticonDB;
@using HQQWebReport.Data
@using System.Web 

@inject WebReportSettings webReportSettings



<h1>สินค้าน่าสนใจเรียงตามลำดับจากยอดสั่งซื้อ </h1>
<p>เรียงตามความน่าสนใจจาก Stock Percentage (%) : @strDateInformation</p>

@if (cProducts == null || cProducts.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    //https://blazorise.com/docs/components/table/
    <Table class="table products" Hoverable="true" Narrow="true">
        <TableHeader ThemeContrast="ThemeContrast.Dark">
            <TableRow>
                <TableHeaderCell>No.</TableHeaderCell>
                <TableHeaderCell>ชื่อร้าน</TableHeaderCell>
                @*<TableHeaderCell>หมายเลขสินค้า</TableHeaderCell>*@
                <TableHeaderCell>ชื่อสินค้า</TableHeaderCell>

                <TableHeaderCell Class="action" Clicked="ToggleImage">รูปภาพ</TableHeaderCell>
                <TableHeaderCell>มาใหม่</TableHeaderCell>

                <TableHeaderCell>ขายแล้ว</TableHeaderCell>
                <TableHeaderCell>สต๊อคปัจจุบัน</TableHeaderCell>
                <TableHeaderCell>ขายแล้ววานนี้</TableHeaderCell>
                <TableHeaderCell>ความเคลื่อนไหว(%)</TableHeaderCell>

                <TableHeaderCell>ราคา</TableHeaderCell>
                <TableHeaderCell>ความเคลื่อนไหว</TableHeaderCell>

                <TableHeaderCell>จำนวนเรทติ้ง</TableHeaderCell>
                <TableHeaderCell>เรทติ้ง</TableHeaderCell>

                <TableHeaderCell>ยอดไลค์</TableHeaderCell>
                <TableHeaderCell>เปลี่ยนแปลง</TableHeaderCell>
                @*<TableHeaderCell>% เปลี่ยนแปลง</TableHeaderCell>*@

            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var item in cProducts)
            {
                <TableRow>
                    <TableRowCell>@(iRowNum++)</TableRowCell>
                    <TableRowCell>@item.ShopName</TableRowCell>
                    @*<TableRowCell>@item.ProductRefId</TableRowCell>*@
                    <TableRowCell>
                        <a href="@GenerateURL(item)" target="_blank">
                        <Tooltip Text="@(item.Name)">@(item.Name.Length > 15 ? item.Name.Substring(0, 15) : item.Name)</Tooltip>
                        </a>
                    </TableRowCell>

                    @if (iShowImage)
                    {
                        <TableRowCell><img class="img-preview" style="text-align:center;" src="@item.ImageUrl" /></TableRowCell>
                    }
                    else
                    {
                        <TableRowCell><i class="fas fa-image" style="text-align:center;" /></TableRowCell>
                    }

                    <TableRowCell>@(item.IsNew == 1 ? "ใหม่" : "-")</TableRowCell>

                    <TableRowCell Style="font-weight:bold">@item.SaleHistory</TableRowCell>
                    <TableRowCell Style="font-weight:bold">@item.Stock</TableRowCell>
                    <TableRowCell Style="font-weight:bold">@item.StockMovement</TableRowCell>
                    <TableRowCell Style="font-weight:bold">@item.StockMovementPercentage</TableRowCell>

                    <TableRowCell Style="font-weight:bold">@item.Price</TableRowCell>
                    <TableRowCell>@item.PriceMovement</TableRowCell>

                    <TableRowCell>@item.RatingCount</TableRowCell>
                    <TableRowCell>@item.RatingValue</TableRowCell>

                    <TableRowCell>@item.LikedCount</TableRowCell>
                    <TableRowCell>@item.LikedMovement</TableRowCell>
                    @*<TableRowCell>@item.LikedPercentage</TableRowCell>*@

                </TableRow>

            }
        </TableBody>
    </Table>

}

@code {
    private List<HqqvCproducts> cProducts = new List<HqqvCproducts>();
    private int iRowNum = 1;
    private bool iShowImage = false;
    private string strDateInformation = "{0} - {1}";
    private System.Globalization.CultureInfo cultureInfo = new System.Globalization.CultureInfo("th-TH");
    private string redirectURL = "shopee.co.th/{0}-i.{1}.{2}"; //{productname}{1}{2}

    protected override async Task OnInitializedAsync()
    {
        ShopeeDataExtraction sdeMgr = new ShopeeDataExtraction();
        int limit = webReportSettings.LimitStockMovement;
        cProducts = sdeMgr.GetTopProductInfo(ShopeeDataExtraction.TPOrder.StockMovement, limit);

        var maxDate = cProducts.Max(item => item.CreatedOn);
        strDateInformation = string.Format(strDateInformation,
            maxDate.AddDays(-1).ToString("dd-MMM-yyyy", cultureInfo),
            maxDate.ToString("dd-MMM-yyyy", cultureInfo));
    }

    private void ToggleImage()
    {
        iRowNum = 1;
        iShowImage = !iShowImage;
    }

    private string GenerateURL(HqqvCproducts item)
    {
        return "https://"+string.Format(redirectURL
            , item.Name.Replace(" ", "-").Replace("%","")
            , item.ShopId, item.ProductRefId);
        //https://shopee.co.th/Smart watch D28 รุ่นใหม่ล่าสุด พร้อมประกันสินค้า 1 เดือนเต็ม มีชำระปลายทาง !!!-i.3315055.20
    }
}